@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}


  /* a {
    color:orange; <=== NOTE: Instead make these changes in tailwind.config.js file!
  }

  Link {
    color:orange;
  } */

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.background-image {
  @apply bg-center bg-cover bg-no-repeat;
  /* padding-left:-2000;
  margin-right:-100; */
  /* background-image: url('https://images.unsplash.com/photo-1609342475528-dd7d93e8311e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=676&q=80'); */
  background-image: url('/static/images/qom_oli_2015226_lrg_NASA_Take3_2911x1314-2.png');
}